{% extends 'blog/base.html' %}
{% block content %}

 <div class="about-content">
	<h1 class="mb-4 border-bottom text-center ">About Buzz-Feed</h1>
	<h5>Just watched something that tickled your mind ?</h5>
	<h5>Need to share them with someone ?</h5>
	<h5>Want opinions on your thoughts ?</h5>
	<h5>Wanna share your bright ideas ?</h5>
	<h3 class="mt-4 mb-4">Then you're at the most right place.</h3>
	<h3><b><a href="/">Buzz-Feed</a></b> is a social-site for sharing with other like-minded people, who are here for the same purpose as you're.
	<br>
	<br>
		Just to have fun <3 !!!!</h3>
 </div>	
{% endblock content %}