{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if not user.is_authenticated %}
	<div class="content-section col-md-8 login-form text-warning">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-3 pb-1 ">Sign In</legend>
				{{form | crispy}}
			</fieldset>
				<button class="btn btn-outline-info" type="submit">Sign In</button>
				<a class="small ml-3" href="{% url 'password-reset' %}">Forgot Password ?</a>
			<div class=" pt-3">
				<small class="text-muted">
					Don't Have an Account ? <a href="{% url 'register' %}">Sign Up</a>
				</small>
			</div>
		</form>	
	</div>
{% else %}
	<h2>You're already signed in..!</h2>
{%endif%}
{% endblock content %}